[user]
	name = Lorgio A Jimenez
	email = lorgio.a.jimenez@aexp.com
# [mergetool "diffmerge"]
# 	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
# 	trustExitCode = false
# [diff]
# 	external = /Users/ljime3/git-diff-cmd.sh
[github]
	user = lorgio
[core]
	editor = /usr/bin/vim
