.Trash/*
.DS_Store
.dropbox/*
.cheat/*
.fontconfig/*
.fonts/*
.gem/*
Calibre Library/*
Desktop/*
Documents/*
Downloads/*
Dropbox/*
LibraryLibrary/*
Movies/*
Music/*
Pictures/*
Public/*
Sites/*
myConfigFiles/*
.MacOSX/*
.bash_history*
.cups/*
.irb-history*
.irb_history*
.k5login*
.nchsoftware/*
.pgpass*
.pow*
.rdebug_hist*
.rvm/*
.ssh/*
.sshs/*
.vim.old/*
.vimrc.old*
Library*
